<!-- Validation failure messages -->
<% if @game.errors.any? %>
<% @game.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>



<form action="/update_score/<%= @game.id %>" method="post">

  <div class="row">
    <div class="col-md-4">
      <div class="page-header">
        <h3>Edit
          <%= Team.find(@game.favorite_id).name %>
          vs.
          <%= Team.find(@game.underdog_id).name%>

        </h3>
      </div>



      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for date_time -->

        <input type="hidden" id="game_date" name="game_date" placeholder="Date" class="form-control" value="<%= @game.game_date %>">

      <!-- Label and input for time -->

        <input type="hidden" id="game_time" name="game_time" placeholder="Time" class="form-control" value="<%= @game.game_time.strftime("%H:%M") %>">



      <!-- Label and input for home_team_id -->
      <% select_tag(:favorite_id, options_from_collection_for_select(Team.all, :id, :name, @game.favorite_id)) %>


        <!-- Label and input for away_team_id -->
          <% select_tag(:underdog_id, options_from_collection_for_select(Team.all, :id, :name, @game.underdog_id)) %>

          <!-- Label and input for home_team_id -->

            <% select_tag(:home_team_id, options_from_collection_for_select(Team.all, :id, :name, @game.home_team_id)) %>

            <!-- Label and input for spread -->
              <input type="hidden" id="spread" name="spread" placeholder="Spread" class="form-control" value="<%= @game.spread %>">


            <!-- Label and input for final_home_score -->
            <div class="form-group">
              <label for="final_favorite_score" class="control-label">
                Final Favorite Score (<%=Team.find(@game.favorite_id).name%>)
              </label>

              <input type="text" id="final_faovrite_score" name="final_favorite_score" placeholder="Final Favorite Score" class="form-control" value="<%= @game.final_favorite_score %>">
            </div>

            <!-- Label and input for final_away_score -->
            <div class="form-group">
              <label for="final_underdog_score" class="control-label">
                Final Underdog Score (<%=Team.find(@game.underdog_id).name%>)
              </label>

              <input type="text" id="final_underdog_score" name="final_underdog_score" placeholder="Final Underdog Score" class="form-control" value="<%= @game.final_underdog_score %>">
            </div>

            <button class="btn btn-warning">
              Update Score
            </button>
            or
            <a href="/games/<%= @game.id %>">Cancel</a>
          </form>
        </div>

        
<div class="col-md-2"> </div>
        <div class="col-md-6">

          <div class="page-header"><h3><i>Yesterday's Results</i><h3></div>

            <table class="table table-striped table-hover">
              <tr>
                <th>Home</th>
                <th>Away</th>
              </tr>
              <% @api_games.each do |api_game|%>
              <tr>
                <td><%= api_game["home"]["alias"] %> <%= api_game["home_points"]%></td>
                <td><%= api_game["away"]["alias"] %> <%= api_game["away_points"]%></td>
              </tr>
              <% end %>
            </table>
          </div>





        </div>

      </div>
