<div class="page-header">
  <h3>Pick #<%= @pick.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @pick.user_id %></dd>

      <dt>Game</dt>
      <dd><%= @pick.game_id %></dd>

      <dt>Pick</dt>
      <dd><%= @pick.pick_id %></dd>

      <dt>Final result</dt>
      <dd><%= @pick.final_result %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/picks" class="btn btn-primary">
        Back
      </a>
      <a href="/picks/<%= @pick.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_pick/<%= @pick.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>

  <a href="/update_results/" class="btn btn-danger">
    Update Results
  </a>

</div>
